html, body {
    margin: 0;
    padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: steelblue;
}

main {
  height: 50vh;
  background-color: thistle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: steelblue;
}